@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: Roboto, 'Helvetica Neue', Helvetica, sans-serif;
    background-color: #f2f2f2
}


* {
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    outline: none;
    font-family: Roboto, 'Helvetica Neue', Helvetica, sans-serif;
}

@layer components{
    .header_search{
        @apply flex items-center bg-[#f2e8d6] hover:bg-white p-2 w-1/2 hover:border border-[#ffd796] rounded-xl hover:shadow shadow-sm hover:shadow-[#e5a0401f] transition  duration-300 sm:w-[310px]
    }
    .circle_hover_bg{
      @apply  flex justify-center items-center w-[40px] h-[40px] rounded-full hover:bg-[#f5ead9]
    }

    .icon{
     @apply w-[25px] cursor-pointer
    }

    .left_menu_item{
        @apply flex items-center cursor-pointer px-[15px] h-[50px] rounded-[10px] hover:scale-105 transform transition duration-300 ease-out hover:bg-gray-200 md:pl-[10px]
    }
    .header{
        @apply flex fixed z-10 items-center justify-between w-full h-[60px] px-[10px] bg-[#FFF4E2] md:pl-[10px] md:pr-10
    }
    .left_menu_wrapper{
        @apply scrollbar-none flex justify-between overflow-x-scroll overflow-y-hidden mb-3 md:space-y-3 first:pt-5 md:flex-col md:overflow-hidden
    }
}
